//http://www.colourlovers.com/palette/623761/Walking_Away
$red-color: #990100;
$red-color-light: #b90504;
$background-color: #f6f6f6;
$grey-color-light:#e8e8e8;
$grey-color-lighter:#fff;
$text-color: #333;
$text-meta-color: #999;
$link-color: #686868;
