<div class="home">
  <section class="header">
    <%= image_tag "beastie-head.png", alt: "Beastie says" %>
    <p>
       watch - discuss - learn
    </p>
  </section>
  <section class="actual">
    <div class="talk">
      <p class="talk-title">
        <a href="/2016/01/01/early-days-of-unix-and-design-of-sh.html">Early days of Unix and design of sh</a>
      </p>
      <p class="talk-subtitle">
        right now we are discussing
      </p>
      <p>
        <a href="/2016/01/01/early-days-of-unix-and-design-of-sh.html">
          <img src="//img.youtube.com/vi/FI_bZhV7wpI/0.jpg" />
        </a>
      </p>
    </div>
  </section>
</div>
