<div class="home">
  <section class="header">
    <%= image_tag "beastie-head.png", alt: "Beastie says" %>
    <p>
       watch - discuss - learn
    </p>
  </section>
  <section class="actual">
    <div class="talk">
      <p class="talk-title">
        <%= link_to page_articles.first.title, page_articles.first %>
      </p>
      <p class="talk-subtitle">
        right now we are discussing
      </p>
      <p>
        <% link_to page_articles.first  do %>
          <% if page_articles.first.data.youtube %>
            <%= image_tag "//img.youtube.com/vi/#{page_articles.first.data.youtube}/0.jpg" %>
          <% elsif page_articles.first.data.vimeo %>
            <%= image_tag(JSON.parse(open("http://vimeo.com/api/v2/video/#{page_articles.first.data.vimeo}.json").read).first["thumbnail_large"]) %>
          <% end %>
        <% end %>
      </p>
    </div>
  </section>
</div>
